# Basic indexing and filtering operations on dataframes in Python

In [1]:
import pandas as pd

#read csv file in dataframe
df_rain = pd.read_csv('rainfall201701.csv')

#display first 10 rows
df_rain.head(10)

     id    name                 date  rainfall
0  7687  RG_016  2017-01-01T00:00:00       0.0
1  7687  RG_016  2017-01-01T00:05:00       0.0
2  7687  RG_016  2017-01-01T00:10:00       0.0
3  7687  RG_016  2017-01-01T00:15:00       0.0
4  7687  RG_016  2017-01-01T00:20:00       0.0
5  7687  RG_016  2017-01-01T00:25:00       0.0
6  7687  RG_016  2017-01-01T00:30:00       0.0
7  7687  RG_016  2017-01-01T00:35:00       0.0
8  7687  RG_016  2017-01-01T00:40:00       0.0
9  7687  RG_016  2017-01-01T00:45:00       0.0

# View a column of the dataframe

In [3]:
df_rain['name']

0        RG_016
1        RG_016
2        RG_016
3        RG_016
4        RG_016
5        RG_016
6        RG_016
7        RG_016
8        RG_016
9        RG_016
10       RG_016
11       RG_016
12       RG_016
13       RG_016
14       RG_016
15       RG_016
16       RG_016
17       RG_016
18       RG_016
19       RG_016
20       RG_016
21       RG_016
22       RG_016
23       RG_016
24       RG_016
25       RG_016
26       RG_016
27       RG_016
28       RG_016
29       RG_016
          ...
43175    RG_038
43176    RG_038
43177    RG_038
43178    RG_038
43179    RG_038
43180    RG_038
43181    RG_038
43182    RG_038
43183    RG_038
43184    RG_038
43185    RG_038
43186    RG_038
43187    RG_038
43188    RG_038
43189    RG_038
43190    RG_038
43191    RG_038
43192    RG_038
43193    RG_038
43194    RG_038
43195    RG_038
43196    RG_038
43197    RG_038
43198    RG_038
43199    RG_038
43200    RG_038
43201    RG_038
43202    RG_038
43203    RG_038
43204    RG_038
Name: name, dtype: object

# View a unique values in column

In [4]:
df_rain['name'].unique()

array(['RG_016', 'RG_017', 'RG_018', 'RG_019', 'RG_038'], dtype=object)

# View two columns of the dataframe

In [6]:
df_rain[['id','rainfall']]

         id  rainfall
0      7687     0.000
1      7687     0.000
2      7687     0.000
3      7687     0.000
4      7687     0.000
5      7687     0.000
6      7687     0.000
7      7687     0.000
8      7687     0.000
9      7687     0.000
10     7687     0.000
11     7687     0.000
12     7687     0.254
13     7687     0.000
14     7687     0.000
15     7687     0.000
16     7687     0.000
17     7687     0.000
18     7687     0.000
19     7687     0.000
20     7687     0.000
21     7687     0.000
22     7687     0.000
23     7687     0.000
24     7687     0.000
25     7687     0.000
26     7687     0.000
27     7687     0.000
28     7687     0.000
29     7687     0.000
...     ...       ...
43175  7704     0.000
43176  7704     0.000
43177  7704     0.000
43178  7704     0.000
43179  7704     0.000
43180  7704     0.000
43181  7704     0.000
43182  7704     0.000
43183  7704     0.000
43184  7704     0.000
43185  7704     0.000
43186  7704     0.000
43187  7704     0.000
43188  7704     0.000
43189  7704     0.000
43190  7704     0.000
43191  7704     0.000
43192  7704     0.000
43193  7704     0.000
43194  7704     0.000
43195  7704     0.000
43196  7704     0.000
43197  7704     0.000
43198  7704     0.000
43199  7704     0.000
43200  7704     0.000
43201  7704     0.000
43202  7704     0.000
43203  7704     0.000
43204  7704     0.000

[43205 rows x 2 columns]

# View certain range of rows of the dataframe (Indexing)

Index in dataframe starts at 0, hence for following it returns the 5th(index 4) to 10th(index 9)  row. Please note that, 4th value is excluded while indexing.

In [10]:
df_rain[4:10]

     id    name                 date  rainfall
4  7687  RG_016  2017-01-01T00:20:00       0.0
5  7687  RG_016  2017-01-01T00:25:00       0.0
6  7687  RG_016  2017-01-01T00:30:00       0.0
7  7687  RG_016  2017-01-01T00:35:00       0.0
8  7687  RG_016  2017-01-01T00:40:00       0.0
9  7687  RG_016  2017-01-01T00:45:00       0.0

# View first two columns and first ten rows by index

In [15]:
df_rain.ix[0:10,0:2]

      id    name
0   7687  RG_016
1   7687  RG_016
2   7687  RG_016
3   7687  RG_016
4   7687  RG_016
5   7687  RG_016
6   7687  RG_016
7   7687  RG_016
8   7687  RG_016
9   7687  RG_016
10  7687  RG_016

# View a row by index

In [17]:
df_rain.ix[1]

id                         7687
name                     RG_016
date        2017-01-01T00:05:00
rainfall                      0
Name: 1, dtype: object

# View the value based on a row and column

In [18]:
df_rain.ix[1,'name']

'RG_016'

# Filtering dataframes

Filtering dataframes allow you to view the datasets in certain manner. By using filtering, you can derive some great insights about dataset.

Let's say, we want to find how many rows in the above dataframe has rainfall greater than 0.

In [20]:
df_rain[df_rain['rainfall']>0]

         id    name                 date  rainfall
12     7687  RG_016  2017-01-01T01:00:00     0.254
601    7687  RG_016  2017-01-03T02:05:00     0.254
614    7687  RG_016  2017-01-03T03:10:00     0.254
623    7687  RG_016  2017-01-03T03:55:00     0.254
652    7687  RG_016  2017-01-03T06:20:00     0.254
658    7687  RG_016  2017-01-03T06:50:00     0.254
663    7687  RG_016  2017-01-03T07:15:00     0.254
699    7687  RG_016  2017-01-03T10:15:00     0.254
702    7687  RG_016  2017-01-03T10:30:00     0.254
706    7687  RG_016  2017-01-03T10:50:00     0.254
708    7687  RG_016  2017-01-03T11:00:00     0.254
711    7687  RG_016  2017-01-03T11:15:00     0.254
713    7687  RG_016  2017-01-03T11:25:00     0.254
715    7687  RG_016  2017-01-03T11:35:00     0.254
717    7687  RG_016  2017-01-03T11:45:00     0.254
720    7687  RG_016  2017-01-03T12:00:00     0.254
723    7687  RG_016  2017-01-03T12:15:00     0.254
726    7687  RG_016  2017-01-03T12:30:00     0.254
729    7687  RG_016  2017-01-03T12:45:00     0.254
731    7687  RG_016  2017-01-03T12:55:00     0.254
733    7687  RG_016  2017-01-03T13:05:00     0.254
735    7687  RG_016  2017-01-03T13:15:00     0.254
736    7687  RG_016  2017-01-03T13:20:00     0.254
737    7687  RG_016  2017-01-03T13:25:00     0.254
739    7687  RG_016  2017-01-03T13:35:00     0.254
741    7687  RG_016  2017-01-03T13:45:00     0.254
742    7687  RG_016  2017-01-03T13:50:00     0.254
744    7687  RG_016  2017-01-03T14:00:00     0.254
746    7687  RG_016  2017-01-03T14:10:00     0.254
749    7687  RG_016  2017-01-03T14:25:00     0.254
...     ...     ...                  ...       ...
39427  7704  RG_038  2017-01-17T21:15:00     0.254
39431  7704  RG_038  2017-01-17T21:35:00     0.254
39433  7704  RG_038  2017-01-17T21:45:00     0.254
39436  7704  RG_038  2017-01-17T22:00:00     0.254
39439  7704  RG_038  2017-01-17T22:15:00     0.254
39446  7704  RG_038  2017-01-17T22:50:00     0.254
39463  7704  RG_038  2017-01-18T00:15:00     0.254
39505  7704  RG_038  2017-01-18T03:45:00     0.254
40283  7704  RG_038  2017-01-20T20:35:00     0.254
41373  7704  RG_038  2017-01-24T15:25:00     0.254
41534  7704  RG_038  2017-01-25T04:50:00     0.254
41540  7704  RG_038  2017-01-25T05:20:00     0.254
41550  7704  RG_038  2017-01-25T06:10:00     0.254
41666  7704  RG_038  2017-01-25T15:50:00     0.254
41726  7704  RG_038  2017-01-25T20:50:00     0.254
41769  7704  RG_038  2017-01-26T00:25:00     0.254
41778  7704  RG_038  2017-01-26T01:10:00     0.254
41859  7704  RG_038  2017-01-26T07:55:00     0.254
41861  7704  RG_038  2017-01-26T08:05:00     0.254
41864  7704  RG_038  2017-01-26T08:20:00     0.254
41865  7704  RG_038  2017-01-26T08:25:00     0.254
41870  7704  RG_038  2017-01-26T08:50:00     0.254
41871  7704  RG_038  2017-01-26T08:55:00     0.254
41876  7704  RG_038  2017-01-26T09:20:00     0.254
41879  7704  RG_038  2017-01-26T09:35:00     0.254
41888  7704  RG_038  2017-01-26T10:20:00     0.254
41900  7704  RG_038  2017-01-26T11:20:00     0.254
41904  7704  RG_038  2017-01-26T11:40:00     0.254
41912  7704  RG_038  2017-01-26T12:20:00     0.254
42779  7704  RG_038  2017-01-29T12:35:00     0.508

[795 rows x 4 columns]

In [21]:
len(df_rain[df_rain['rainfall']>0])

795

Let's say we want to check rainfall grater than zero for 'RG_016' only.

In [22]:
df_rain[(df_rain['name']=="RG_016")&(df_rain['rainfall']>0)]

        id    name                 date  rainfall
12    7687  RG_016  2017-01-01T01:00:00     0.254
601   7687  RG_016  2017-01-03T02:05:00     0.254
614   7687  RG_016  2017-01-03T03:10:00     0.254
623   7687  RG_016  2017-01-03T03:55:00     0.254
652   7687  RG_016  2017-01-03T06:20:00     0.254
658   7687  RG_016  2017-01-03T06:50:00     0.254
663   7687  RG_016  2017-01-03T07:15:00     0.254
699   7687  RG_016  2017-01-03T10:15:00     0.254
702   7687  RG_016  2017-01-03T10:30:00     0.254
706   7687  RG_016  2017-01-03T10:50:00     0.254
708   7687  RG_016  2017-01-03T11:00:00     0.254
711   7687  RG_016  2017-01-03T11:15:00     0.254
713   7687  RG_016  2017-01-03T11:25:00     0.254
715   7687  RG_016  2017-01-03T11:35:00     0.254
717   7687  RG_016  2017-01-03T11:45:00     0.254
720   7687  RG_016  2017-01-03T12:00:00     0.254
723   7687  RG_016  2017-01-03T12:15:00     0.254
726   7687  RG_016  2017-01-03T12:30:00     0.254
729   7687  RG_016  2017-01-03T12:45:00     0.254
731   7687  RG_016  2017-01-03T12:55:00     0.254
733   7687  RG_016  2017-01-03T13:05:00     0.254
735   7687  RG_016  2017-01-03T13:15:00     0.254
736   7687  RG_016  2017-01-03T13:20:00     0.254
737   7687  RG_016  2017-01-03T13:25:00     0.254
739   7687  RG_016  2017-01-03T13:35:00     0.254
741   7687  RG_016  2017-01-03T13:45:00     0.254
742   7687  RG_016  2017-01-03T13:50:00     0.254
744   7687  RG_016  2017-01-03T14:00:00     0.254
746   7687  RG_016  2017-01-03T14:10:00     0.254
749   7687  RG_016  2017-01-03T14:25:00     0.254
...    ...     ...                  ...       ...
2867  7687  RG_016  2017-01-10T22:55:00     0.254
2871  7687  RG_016  2017-01-10T23:15:00     0.254
2884  7687  RG_016  2017-01-11T00:20:00     0.254
2888  7687  RG_016  2017-01-11T00:40:00     0.254
2890  7687  RG_016  2017-01-11T00:50:00     0.254
2893  7687  RG_016  2017-01-11T01:05:00     0.254
2896  7687  RG_016  2017-01-11T01:20:00     0.254
2908  7687  RG_016  2017-01-11T02:20:00     0.254
7140  7687  RG_016  2017-01-25T19:00:00     0.254
7144  7687  RG_016  2017-01-25T19:20:00     0.254
7178  7687  RG_016  2017-01-25T22:10:00     0.254
7186  7687  RG_016  2017-01-25T22:50:00     0.254
7188  7687  RG_016  2017-01-25T23:00:00     0.254
7191  7687  RG_016  2017-01-25T23:15:00     0.508
7192  7687  RG_016  2017-01-25T23:20:00     0.254
7194  7687  RG_016  2017-01-25T23:30:00     0.254
7195  7687  RG_016  2017-01-25T23:35:00     0.254
7196  7687  RG_016  2017-01-25T23:40:00     0.254
7197  7687  RG_016  2017-01-25T23:45:00     0.254
7199  7687  RG_016  2017-01-25T23:55:00     0.254
7204  7687  RG_016  2017-01-26T00:20:00     0.254
7207  7687  RG_016  2017-01-26T00:35:00     0.254
7214  7687  RG_016  2017-01-26T01:10:00     0.254
7292  7687  RG_016  2017-01-26T07:40:00     0.254
7295  7687  RG_016  2017-01-26T07:55:00     0.254
7296  7687  RG_016  2017-01-26T08:00:00     0.254
7300  7687  RG_016  2017-01-26T08:20:00     0.254
7325  7687  RG_016  2017-01-26T10:25:00     0.254
7332  7687  RG_016  2017-01-26T11:00:00     0.254
7350  7687  RG_016  2017-01-26T12:30:00     0.254

[137 rows x 4 columns]

Let's say we want to filter the rows with rainfall greater than 0.2 or it is for RG_018

In [23]:
df_rain[(df_rain['name']=="RG_018")|(df_rain['rainfall']>0.2)]

         id    name                 date  rainfall
12     7687  RG_016  2017-01-01T01:00:00     0.254
601    7687  RG_016  2017-01-03T02:05:00     0.254
614    7687  RG_016  2017-01-03T03:10:00     0.254
623    7687  RG_016  2017-01-03T03:55:00     0.254
652    7687  RG_016  2017-01-03T06:20:00     0.254
658    7687  RG_016  2017-01-03T06:50:00     0.254
663    7687  RG_016  2017-01-03T07:15:00     0.254
699    7687  RG_016  2017-01-03T10:15:00     0.254
702    7687  RG_016  2017-01-03T10:30:00     0.254
706    7687  RG_016  2017-01-03T10:50:00     0.254
708    7687  RG_016  2017-01-03T11:00:00     0.254
711    7687  RG_016  2017-01-03T11:15:00     0.254
713    7687  RG_016  2017-01-03T11:25:00     0.254
715    7687  RG_016  2017-01-03T11:35:00     0.254
717    7687  RG_016  2017-01-03T11:45:00     0.254
720    7687  RG_016  2017-01-03T12:00:00     0.254
723    7687  RG_016  2017-01-03T12:15:00     0.254
726    7687  RG_016  2017-01-03T12:30:00     0.254
729    7687  RG_016  2017-01-03T12:45:00     0.254
731    7687  RG_016  2017-01-03T12:55:00     0.254
733    7687  RG_016  2017-01-03T13:05:00     0.254
735    7687  RG_016  2017-01-03T13:15:00     0.254
736    7687  RG_016  2017-01-03T13:20:00     0.254
737    7687  RG_016  2017-01-03T13:25:00     0.254
739    7687  RG_016  2017-01-03T13:35:00     0.254
741    7687  RG_016  2017-01-03T13:45:00     0.254
742    7687  RG_016  2017-01-03T13:50:00     0.254
744    7687  RG_016  2017-01-03T14:00:00     0.254
746    7687  RG_016  2017-01-03T14:10:00     0.254
749    7687  RG_016  2017-01-03T14:25:00     0.254
...     ...     ...                  ...       ...
39427  7704  RG_038  2017-01-17T21:15:00     0.254
39431  7704  RG_038  2017-01-17T21:35:00     0.254
39433  7704  RG_038  2017-01-17T21:45:00     0.254
39436  7704  RG_038  2017-01-17T22:00:00     0.254
39439  7704  RG_038  2017-01-17T22:15:00     0.254
39446  7704  RG_038  2017-01-17T22:50:00     0.254
39463  7704  RG_038  2017-01-18T00:15:00     0.254
39505  7704  RG_038  2017-01-18T03:45:00     0.254
40283  7704  RG_038  2017-01-20T20:35:00     0.254
41373  7704  RG_038  2017-01-24T15:25:00     0.254
41534  7704  RG_038  2017-01-25T04:50:00     0.254
41540  7704  RG_038  2017-01-25T05:20:00     0.254
41550  7704  RG_038  2017-01-25T06:10:00     0.254
41666  7704  RG_038  2017-01-25T15:50:00     0.254
41726  7704  RG_038  2017-01-25T20:50:00     0.254
41769  7704  RG_038  2017-01-26T00:25:00     0.254
41778  7704  RG_038  2017-01-26T01:10:00     0.254
41859  7704  RG_038  2017-01-26T07:55:00     0.254
41861  7704  RG_038  2017-01-26T08:05:00     0.254
41864  7704  RG_038  2017-01-26T08:20:00     0.254
41865  7704  RG_038  2017-01-26T08:25:00     0.254
41870  7704  RG_038  2017-01-26T08:50:00     0.254
41871  7704  RG_038  2017-01-26T08:55:00     0.254
41876  7704  RG_038  2017-01-26T09:20:00     0.254
41879  7704  RG_038  2017-01-26T09:35:00     0.254
41888  7704  RG_038  2017-01-26T10:20:00     0.254
41900  7704  RG_038  2017-01-26T11:20:00     0.254
41904  7704  RG_038  2017-01-26T11:40:00     0.254
41912  7704  RG_038  2017-01-26T12:20:00     0.254
42779  7704  RG_038  2017-01-29T12:35:00     0.508

[9386 rows x 4 columns]

Note that, in the above filter we are getting much larger number of rows, as it is OR( | ) operation, which considers either option to be true.